<div class="container pt-2">
  <%= simple_form_for [@playlist] do |f| %>
  <h5><%= f.input :name %></h5>
  <h6><%= f.input :url %></h6>
  <%= f.button :submit, class: "btn create-button" %>
  <% end %>

<%= link_to "Back", playlists_path %>
</div>
